<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Roboto:wght@500&display=swap");
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hackathon</title>
  </head>
  <body>
    <h1>SportsFit</h1>
    <div id="box">
        <div class="content">
          SportsFit is an app that utilizes Computer Vision and Machine Learning
          to help correct user's technique/positioning of body and prevent from
          injury. We score the user's technique/posture during any exercise or
          prartice to that of a athlete executing the same, and also detect any
          injury prone execution of exercise.
          <br />
          <center>CLICK ON START AND DO BICEP CURL.</center>
        </div>
      </div>
  
      <form method="post" action="/">
  
        <input type="submit" value="Start" name="Start"/>
        <!-- <input type="submit" value="Decrypt" name="Decrypt" /> -->
  
  </form>
    <div id="card-group">
        <div id="card1">
            <div class="name"><center>Vikrant</center></div>
            <center><div class="line"></div></center>
          </div>
      <div id="card2">
        <div class="name"><center>Shivam</center></div>
        <center><div class="line"></div></center>
      </div>
      <div id="card3">
        <div class="name"><center>Harshit</center></div>
        <center><div class="line"></div></center>
      </div>
    </div>
    
    

    <div class="space"></div>
  </body>
</html>
